---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Logo.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro">
  <LandingHeader />
  <main
    class="snap-y snap-mandatory relative h-screen w-full overflow-auto overflow-x-hidden"
  >
    <div class="snap-center">
      <Section
        title="Model Y"
        link_title="Concertar una prueba de conducción"
        color="white"
        header_nav_color="white"
      >
        <video
          slot="background"
          autoplay
          muted
          loop
          class="object-center object-cover h-full w-full"
          src="/video.mp4"></video>
        <div slot="sectionFooter" class="flex space-x-4">
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-white text-black opacity-80 hover:opacity-100 transition-opacity"
            >Entrega más rápida</a
          >
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-black text-white opacity-80 hover:opacity-100 transition-opacity"
            >Contenido personalizado</a
          >
        </div>
      </Section>
    </div>
    <div class="snap-center">
      <Section
        title="Model 3"
        link_title=""
        color="black"
        header_nav_color="black"
      >
        <img
          slot="background"
          class="object-center object-cover h-full w-full"
          src="/model_3.avif"
          alt="Model 3"
        />
        <div slot="sectionFooter" class="flex space-x-4">
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-white text-black opacity-80 hover:opacity-100 transition-opacity"
            >Pedido personalizado</a
          >
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-black text-white opacity-80 hover:opacity-100 transition-opacity"
            >Prueba de conducción</a
          >
        </div>
      </Section>
    </div>
    <div class="snap-center">
      <Section
        title="Model S"
        link_title="Explorar inventario"
        color="black"
        header_nav_color="black"
      >
        <img
          slot="background"
          class="object-center object-cover h-full w-full"
          src="/model_s.avif"
          alt="Model S"
        />
        <div slot="sectionFooter" class="flex space-x-4">
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-white text-black opacity-80 hover:opacity-100 transition-opacity"
            >Pedido personalizado</a
          >
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-black text-white opacity-80 hover:opacity-100 transition-opacity"
            >Prueba de conducción</a
          >
        </div>
      </Section>
    </div>
    <div class="snap-center">
      <Section
        title="Disfrute de Tesla"
        link_title="Programe una prueba de conducción hoy mismo"
        color="white"
        header_nav_color="white"
      >
        <video
          slot="background"
          autoplay
          muted
          loop
          class="object-center object-cover h-full w-full"
          src="/Homepage-Demo-Drive.webm"
        >
        </video>
        <div slot="sectionFooter" class="flex space-x-4">
          <a
            href="#"
            class="rounded font-medium px-7 text-sm py-2 inline-block w-[270px] text-center border-4 duration-300 border-white hover:bg-white hover:text-black text-white opacity-80 hover:opacity-100 transition-all"
            >Prueba de conducción</a
          >
        </div>
      </Section>
    </div>
    <div class="snap-center">
      <Section
        title="Accesorios"
        link_title=""
        color="black"
        header_nav_color="black"
      >
        <img
          slot="background"
          class="object-center object-cover h-full w-full"
          src="/accesories.avif"
          alt="Accesories"
        />
        <div slot="sectionFooter" class="flex space-x-4">
          <a
            href="#"
            class="rounded font-medium px-6 text-sm py-2.5 inline-block w-[270px] text-center bg-white text-black opacity-80 hover:opacity-100 transition-opacity"
            >Comprar ahora</a
          >
        </div>
      </Section>
    </div>
  </main>
</Layout>

<style></style>
